<body class="overlay">


<div class="login-container">
  <img src="../../../assets/images/logo2.png" alt="usr_login">
  <p class="text ">Bienevido a Economia</p>
  <form (ngSubmit)="goToDashboard()" class="login-form">


    <input type="text" id="username" name="username" placeholder="Ingrese su usuario"/>




    <input type="password" id="password" name="password" placeholder="Ingrese contraseña">


    <p>¿Ha olvidado su nombre de usuario o contraseña?</p>

    <button routerLink="/quienes">Iniciar sesión</button>
  </form>
</div>
</body>
