

<body>

  <hr>

  <div class="img-container">
    <img src="../../../assets/images/municipio.png" alt="Imagen">
  </div>

  <hr class="linea">

  <div class="titulo-contenedor">
    <h2>Indicador institucional</h2>
    <div class="fecha-contenedor">
      <p>Seleccione el año y el mes:</p>
      <div class="fecha-formulario">

        <div class="select">
          <select>
            <option value="">Año</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="select">
          <select>
            <option value="">Mes</option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="cuadrado-padre">
    <h2>Valores para el indicador institucional</h2>
    <div class="cuadrado-hijo">

      <div class="form-container">
        <form action="">


        <div class="form-row">
          <label for="input1">Funcionarios que trabajan tiempo completo </label>
          <input type="number" id="input1">
        </div>
        <div class="form-row">
          <label for="input2">Cobertura en km que cubre el servicio de barrido de las zonas públicas </label>
          <input type="number" id="input2">
        </div>
        <div class="form-row">
          <label for="input3">Número de personas dedicadas al servicio de barrido </label>
          <input type="number" id="input3">
        </div>
        <div class="form-row">
          <label for="input4">Número total de empleados que laboraron en trabajo exclusivo en gestión ambiental </label>
          <input type="number" id="input4">
        </div>
        <div class="form-row">
          <label for="input5">Consumo de energía eléctrica 2012 (kWh y valor)</label>
          <input type="number" id="input5">
        </div>
        <div class="form-row">
          <label for="input6">Consumo de energía eléctrica 2012 (kWh y valor) valor</label>
          <input type="number" id="input6">
        </div>

        <div class="form-row">
          <label for="input7">Cantidad de combustible que utilizo la institución: Diesel </label>
          <input type="number" id="input7">
        </div>

        <div class="form-row">
          <label for="input8">Cantidad de combustible que utilizo la institución: Extra</label>
          <input type="number" id="input8">
        </div>

        <div class="form-row">
          <label for="input9">Cantidad de combustible que utilizo la institución: Super </label>
          <input type="number" id="input9">
        </div>

        <div class="form-row">
          <label for="input10">Número de productos maderables que adquirio la institución: Papel</label>
          <input type="number" id="input10">
        </div>

        <div class="form-row">
          <label for="input11">Total de los cortes del servicio de agua potable en el mes  </label>
          <input type="number" id="input11">
        </div>


        <button class="center-button">
          Guardar
        </button>


      </form>


      </div>

    </div>
  </div>



</body>



<!-- FIN DEL HEADER -->
