
<body>

  <hr>

  <div class="img-container">
    <img src="../../../assets/images/municipio.png" alt="Imagen">
  </div>

  <hr class="linea">

  <div class="titulo-contenedor">
    <h2>Indicador económico</h2>
    <div class="fecha-contenedor">
      <p>Seleccione el año y el mes:</p>
      <div class="fecha-formulario">

        <div class="select">
          <select>
            <option value="">Año</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="select">
          <select>
            <option value="">Mes</option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="cuadrado-padre">
    <h2>Valores para el indicador económico</h2>
    <div class="cuadrado-hijo">

      <div class="form-container">
        <form action="">


        <div class="form-row">
          <label for="input1">Presupuesto Anual (para planes de sensibilización)</label>
          <input type="number" id="input1">
        </div>
        <div class="form-row">
          <label for="input2">Monto recaudado del cobro por la recolección de residuos residencial </label>
          <input type="number" id="input2">
        </div>
        <div class="form-row">
          <label for="input3">Total del monto recaudado por el cobro de recoleccion de residuos residencial e industrial </label>
          <input type="number" id="input3">
        </div>
        <div class="form-row">
          <label for="input3">Presupuesto anual para campañas de conservación de las fuentes de captación de agua</label>
          <input type="number" id="input4">
        </div>
        <div class="form-row">
          <label for="input3">Ingresos provenientes de: Recursos fiscales generados por instituciones de valor </label>
          <input type="number" id="input5">
        </div>
        <div class="form-row">
          <label for="input3">Ingresos provenientes de: Recursos de preasignaciones valor </label>
          <input type="number" id="input6">
        </div>

        <div class="form-row">
          <label for="input3">Ingresos provenientes de: Recursos de crédito internos valor  </label>
          <input type="number" id="input7">
        </div>

        <div class="form-row">
          <label for="input3">Ingresos provenientes de: Asistencia técnica y donacionaciones valor </label>
          <input type="number" id="input8">
        </div>

        <div class="form-row">
          <label for="input3">Ingresos provenientes de: Anticipos de ejercicios anteriores valor </label>
          <input type="number" id="input9">
        </div>

        <div class="form-row">
          <label for="input3">Total de ingresos recibidos </label>
          <input type="number" id="input10">
        </div>

        <div class="form-row">
          <label for="input3">Ingresos para protección ambiental provenientes de: Recursos fiscales generados por la institución </label>
          <input type="number" id="input11">
        </div>

        <div class="form-row">
          <label for="input3">Ingresos para protección ambiental provenientes de: Recursos provenientes de preasignaciones valor</label>
          <input type="number" id="input12">
        </div>

        <div class="form-row">
          <label for="input3">Total del ingresos recibido para protección ambiental </label>
          <input type="number" id="input13">
        </div>

        <button class="center-button">
          Guardar
        </button>


      </form>


      </div>

    </div>
  </div>



</body>



