
<header>
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png">
      <div class="texto-header">
        <span class="palabra1">Municipio</span>
        <span class="palabra2">Verde</span>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/quienes">Quienes somos</a></li>
        <li><a href="/grafica">Visualización</a></li>
        <li><a href="/login">Iniciar sesión</a></li>
        <li>
          <button class="img-text-btn" [routerLink]="['/upload']">
            <img src="./assets/images/empresa.png" alt="Imagen">
            <span class="palabra1">Calcular indices</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
