
<body>

  <hr>

  <div class="img-container">
    <img src="../../../assets/images/municipio.png">
  </div>

  <hr class="linea">

  <div class="titulo-contenedor">
    <h2>Calculo de indicadores</h2>
</div>





<div id="drop-area" ondrop="selectFile(event)" ondragover="allowDrop(event)">
  <input type="file" id="file-upload" name="file-upload" accept=".csv, application/vnd.ms-excel" style="display:none">

  <button onclick="selectFile()">Seleccionar archivo</button>

  <p>Arrastra tu archivo aquí</p>
</div>


<button class="center-button">
  Calcular
</button>

</body>
