<hr>

<div class="img-container">
  <img src="../../../assets/images/municipio.png" alt="Imagen">
</div>

<hr class="linea">
  <body class="bodypagina" data-lang="es">
    <section class="bloque1">
      <div class="nd">
        <h2 class="titulo1"> Calculadora de indicadores</h2>
        <div class="subrayado1"></div>
      </div>
    </section>
    <section class="bloque2">
      <div class="contenidobloque2">
        <p class="subtitulo"> Seleccione el metodo que desea calcular:</p>
        <div class="forma1" routerLink="/ambiental" data-target="_blank" title="indicadoresFormulario">
          <div class="seccion">
            <p class="titform1"> Gestión Ambiental</p>
            <p class="contexto1"> La gestión ambiental es la aplicación de políticas, estrategias y prácticas para proteger y preservar el medio ambiente y los recursos naturales. Incluye la identificación, evaluación y control de los impactos ambientales de las actividades humanas y la promoción de prácticas sostenibles.&nbsp;</p>
            <img class="imagen1" src="../../../assets/images/imagen3.png" alt="" data-image-width="123" data-image-height="112">
          </div>
        </div>
        <div class="forma2" routerLink="/social" title="indicadoresFormulario" data-target="_blank">
          <div class="seccion">
            <p class="titform1"> Gestión Social</p>
            <img class="imagen2" src="../../../assets/images/imagen5.png" alt="" data-image-width="137" data-image-height="122">
            <p class="contexto2"> La gestión institucional se refiere al proceso de planificar, organizar, dirigir y controlar las actividades de una institución con el objetivo de alcanzar sus metas y objetivos establecidos.&nbsp;</p>
          </div>
        </div>
        <div class="forma3" routerLink="/institucional" title="indicadoresFormulario" data-target="_blank">
          <div class="seccion">
            <p class="titform1"> Gestión Institucional<span style="font-weight: 700;"></span>
            </p>
            <p class="contexto3"> La gestión social se refiere al proceso de planificación, implementación, monitoreo y evaluación de programas y proyectos con el objetivo de mejorar las condiciones sociales de una comunidad o grupo específico.</p>
            <img class="imagen3" src="../../../assets/images/imagen4.png" alt="" data-image-width="113" data-image-height="112">

          </div>
        </div>
        <div class="forma4" routerLink="/economico" title="indicadoresFormulario" data-target="_blank">
          <div class="seccion">
            <p class="titform1"> Gestión económica</p>
            <img class="imagen4" src="../../../assets/images/imagen6.png" alt="" data-image-width="126" data-image-height="111">
            <p class="contexto4"> La gestión económica se refiere al proceso de planificar, organizar, dirigir y controlar las actividades económicas de una entidad, con el objetivo de maximizar su eficiencia y rentabilidad.&nbsp;</p>
          </div>
        </div>
      </div>
    </section>

</body>
