


<body>

  <hr>

  <div class="img-container">
    <img src="../../../assets/images/municipio.png" alt="Imagen">
  </div>

  <hr class="linea">

  <div class="titulo-contenedor">
    <h2>Indicador social</h2>
    <div class="fecha-contenedor">
      <p>Seleccione el año y el mes:</p>
      <div class="fecha-formulario">

        <div class="select">
          <select>
            <option value="">Año</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="select">
          <select>
            <option value="">Mes</option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="cuadrado-padre">
    <h2>Valores para el indicador social</h2>
    <div class="cuadrado-hijo">

      <div class="form-container">
        <form action="">


        <div class="form-row">
          <label for="input1"># de vehiculos recolectores</label>
          <input type="number" id="input1">
        </div>
        <div class="form-row">
          <label for="input2">Capacidad en ton. de los vehiculos recolectores </label>
          <input type="number" id="input2">
        </div>
        <div class="form-row">
          <label for="input3">Que cobertura en porcentaje cubre servicio de barrido  </label>
          <input type="number" id="input3">
        </div>
        <div class="form-row">
          <label for="input4">Que cobertura en km cubre servicio de barrido </label>
          <input type="number" id="input4">
        </div>
        <div class="form-row">
          <label for="input5">porcentaje que cubre servicio de barrido en parroquias Urbanas</label>
          <input type="number" id="input5">
        </div>
        <div class="form-row">
          <label for="input6">porcentaje cubre servicio de barrido en parroquias Rurales </label>
          <input type="number" id="input6">
        </div>

        <div class="form-row">
          <label for="input7">porcentaje de cobertura de recolección hacia los establecimientos que producen residuos infecciosos </label>
          <input type="number" id="input7">
        </div>

        <div class="form-row">
          <label for="input8">Proyectos para conservacion de las fuentes de capción de agua.</label>
          <input type="number" id="input8">
        </div>

        <div class="form-row">
          <label for="input9">Abastecimiento de agua potable. Horas</label>
          <input type="number" id="input9">
        </div>

        <div class="form-row">
          <label for="input10">Área en m2 que ocupa la institución: Área de constrcción</label>
          <input type="number" id="input10">
        </div>

        <div class="form-row">
          <label for="input11">Área en m2 de las áreas verdes bajo la administración 2012: Parques </label>
          <input type="number" id="input11">
        </div>

        <div class="form-row">
          <label for="input12">Área en m2 de las áreas verdes bajo la administración 2012: Plazas </label>
          <input type="number" id="input12">
        </div>

        <div class="form-row">
          <label for="input14">Área en m2 de las áreas verdes bajo la administración 2012: Jardines </label>
          <input type="number" id="input14">
        </div>

         <div class="form-row">
          <label for="input15">Área en m2 de las áreas verdes bajo la administración 2012: Parterres</label>
          <input type="number" id="input15">
        </div>

         <div class="form-row">
          <label for="input16">Área en m2 de las áreas verdes bajo la administración 2012: Riberas </label>
          <input type="number" id="input16">
        </div>

        <div class="form-row">
          <label for="input17">Área en m2 de las áreas verdes bajo la administración 2012: Estadios </label>
          <input type="number" id="input17">
        </div>

         <div class="form-row">
          <label for="input18">Área en m2 de las áreas verdes bajo la administración 2012: Canchas deportivas </label>
          <input type="number" id="input18">
        </div>

        <div class="form-row">
          <label for="input19">Área en m2 de las áreas verdes bajo la administración 2012: Otras áreas verdes urbanas </label>
          <input type="number" id="input19">
        </div>

        <div class="form-row">
          <label for="input20">Área total en hectáreas del área urbana del municipio </label>
          <input type="number" id="input20">
        </div>

        <button class="center-button">
          Guardar
        </button>


      </form>


      </div>

    </div>
  </div>



</body>



<!-- FIN DEL HEADER -->
