<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
    <body><div class="v136_77"><div class="v136_79"></div>
        <div class="v157_5"></div>
        <div class="v157_9">></div>

        <span class="v157_7"></span>
        <span class="v157_7">Noticia 1: prueba1</span>
        <span class="v157_8">Laboratorio de Innovación, Comunicación y Cultura Digital </span>
        <div class="v157_12"></div><span class="v157_14">Noticia 1: prueba1</span>
        <span class="v157_15">Laboratorio de Innovación, Comunicación y Cultura Digital </span>
        <div class="v157_16"></div>
        <div class="v157_17"><img src="../../../assets/images/limpieza.png">   </div><span class="v157_18">Noticia 1: prueba1</span>
        <span class="v157_19">Laboratorio de Innovación, Comunicación y Cultura Digital </span>
        <div class="v138_89"></div><div class="v157_3"></div><span class="v143_111">¿Quienes Somos?</span>
        <span class="v157_28">Municipio</span><span class="v143_112">Proyectos</span><span class="v162_73">Contacto</span>

        <div class="v143_106"></div>
        <div class="v143_107"></div>
        <div class="v143_108"></div>
        <div class="v143_109"></div>
        <span class="v157_4">Ultimas novedades</span>
        <div class="v157_10"></div>
        <div class="v157_24"></div>
        <span class="v157_11">Ver mas</span><span class="v157_21">Ver mas</span>
        <div class="v157_26"></div><span class="v157_27">Ver mas</span>

        <div class="v158_34"><img src="../../../assets/images/mam.png"></div>
        <div class="v157_31"><img src="../../../assets/images/rios.png"></div>


        <span class="v162_136">Municipio
    Verde</span></div></body></html> <br/><br/>
